aiohttp
async-timeout
attrs==23.1.0
certifi
chardet
charset-normalizer
discord==1.7.3
discord.py==1.7.3
discord-py-slash-command==3.0.3
idna
multidict
pip
PyYAML
requests
setuptools
typing_extensions
urllib3
wheel
yarl

